@use "../abstracts/color" as *;

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.125rem;
}

.title {
    font-size: 1.125rem;
}

.subtitle {
    font-size: 1rem;
}

.logo-font {
    font-family: 'Shrikhand', sans-serif;
    font-weight: normal;
}

.section-title {
    padding: 20px 0;
}

i.pad-right {
    padding-right: 0.5rem;
}