@use "../abstracts/breakpoints";
@use "../abstracts/color" as *;


.footer-container {
    padding-top: 20px;
    background-color: $dark-color;
    color: #FFF;

    @media(min-width:breakpoints.$tablet) {
        flex-direction: row-reverse;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media(min-width:breakpoints.$tablet) {
            flex-direction: row-reverse;
            gap: 50px;
        }



    }

    .title {
        align-items: center;
        justify-content: center;
    }

    .link-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @media(min-width:breakpoints.$tablet) {
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
    }

    .list-item {
        margin-bottom: 0.5rem;
    }

}