@use "../abstracts/color" as *;

.full-width {
    width: 100%;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered {
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    padding: 20px;
}

.limited {
    max-width: 768px;
    padding: 20px 0;
}

.inset {
    position: relative;
    margin-top: -40px;
    border-radius: 40px 40px 0 0;
    background-color: $background-color;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 50px;
}

.align-left {
    margin-right: auto;
}

.splash-picture {
    object-fit: cover;
    max-height: 275px;
    width: 100%;
}