@use "../abstracts/color";

.favorite {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;

  .heart-stroke {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: black;
    stroke-width: 2;
    transition: 1s;
    pointer-events: none;
  }

  .heart-background {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: scale(0);
    overflow: hidden;
    background-image: linear-gradient(color.$gradient-color, color.$primary-color);
    clip-path: url(#heart-clip);
    transition: 0.5s;
  }

}

.favorite:hover {
  .heart-stroke {
    stroke: transparent;
  }

  .heart-background {
    transform: scale(1);
  }

}

// Hide the actual heart SVG symbol

.svg-defs {
  position: fixed;
  width: 0;
  height: 0;
}