@use "../abstracts/variables" as *;

.reveal-after-loading {
  opacity: 0;
  animation: 1s ease-in-out 1s 1 reveal;
  animation-fill-mode: forwards;
}

.reveal-content-after-loading {
  @for $i from 1 through 15 {
    & *:nth-child(#{$i}) {
      opacity: 0;
      animation: 1s ease-in-out #{1+$i*0.2}s 1 reveal;
      animation-fill-mode: forwards;
    }
  }
}


@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hide-after-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  animation: 1s ease-in-out 1s 1 hide;
  animation-fill-mode: forwards;
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: $primary-color;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 